        .left1
        {
             margin-top:144px;          
          background-color:InactiveCaption;
	        font-family: Arial, Helvetica, sans-serif;
	        font-size: 13px;
	        color: #A4E4F5;
            width:950px;
            height:1200px;
            float:left;
        }
        #Div1
        {
            background-color:InactiveCaption;
        }
      .left2
        {
            background-color:InactiveCaption;
	        font-family: Arial, Helvetica, sans-serif;
	        font-size: 13px;
	        color: #666666;
            width:950px;
            height:1200px;
            float:left;
        }
        .left3
        {
            background-color: InactiveCaption;
	        font-family: Arial, Helvetica, sans-serif;
	        font-size: 13px;
	        color: #D1E9A3;
            width:950px;
            height:1200px;
            float:left;
        }
        